span{
  font-size: 14px !important;
  position: absolute !important;
}
.parent{
  margin-top: 120px !important;
}
@media screen and (max-width : 1440px) {
  .parent{
    margin-top: 250px !important;
  }
}
@media screen and (max-width : 1024px) {
  .parent{
    margin-top: 150px !important;
  }
}
@media screen and (max-width : 450px) and (min-width : 320px) {
  .parent{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .info{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
  }
  .form-div{
     border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
     padding: 20px !important;
  }
  .agree{
    margin-left: 5px !important;
    font-size: 10px !important;
  }
  .conpass{
    margin-top: 10px !important;
  }
  .phone{
    margin-top: 10px !important;
  }
  .span{
    font-size: 13px !important;
  }
}
@media screen and (max-width : 770px) and (min-width : 720px) {
  .parent{
    margin-top: 80px !important;
  }
  .agree{
    margin-left: 5px !important;
    font-size: 14px !important;
  }
  label{
    font-size: 14px !important;
  }
  span{
    font-size: 11px !important;
  }
}